/* your custom css */

.projectLogo {
  margin-top: 4em;
  display: block;
}

.projectTitle {
  font-size: 1.2em;
}

@media only screen and (min-width: 1024px) {
  .projectTitle {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
}

@media only screen and (min-width: 1024px) {
  .promoSection .button {
    font-size: 1em;
    border-width: 2px;
  }
}

.darkContainer {
  background-color: #20232a;
  color: #fff;
}

.fixedHeaderContainer {
  background-color: #20232a;
}

.post-meta {
  font-size: 90%;
  color: rgba(0, 0, 0, 0.6);
}

.hasBlackBg {
  background-color: #000;
}

.terserOutputImg {
  width: 100%;
  height: auto;
  display: none;
}

@media screen and (min-width: 900px) {
  .terserOutputImg {
    display: block;
  }
}

.explanatoryText {
  text-align: left;
  font-size: 1em;
  max-width: 50ch;
  margin: 3em auto 0;
}

.explanatoryText p {
  margin: 1em 0 0 0;
  line-height: 1.5em;
}

@media only screen and (min-width: 1024px) {
  .explanatoryText {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 1024px) {
  .homeContainer .homeWrapper .projectLogo {
    position: unset;
    display: block;
    padding: 0 0 0.1rem 0;
  }
  .homeContainer .homeWrapper .projectLogo img {
    height: 150px;
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
