/* your custom css */

.projectLogo {
  margin-top: 4em;
  display: block;
}

.projectTitle {
  font-size: 1.2em;
}

@media only screen and (min-width: 1024px) {
  .projectTitle {
    font-size: 1.6em;
    margin-bottom: 1em;
  }
}

@media only screen and (min-width: 1024px) {
  .promoSection .button {
    font-size: 1em;
    border-width: 2px;
  }
}

.darkContainer {
  background-color: #20232a;
  color: #fff;
}

.fixedHeaderContainer {
  background-color: #20232a;
}

.post-meta {
  font-size: 90%;
  color: rgba(0, 0, 0, 0.6);
}

.hasBlackBg {
  background-color: #000;
}

.terserOutputImg {
  width: 100%;
  height: auto;
  display: none;
}

@media screen and (min-width: 900px) {
  .terserOutputImg {
    display: block;
  }
}

.explanatoryText {
  text-align: left;
  max-width: 700px;
  margin: 3em auto 0;
}

.productShowcaseSection p,
.explanatoryText {
  max-width: 700px;
  font-size: 1.3em;
  text-align: left;
}

@media only screen and (min-width: 1024px) {
  .explanatoryText {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1024px) {
  .homeContainer .homeWrapper .projectLogo {
    position: unset;
    display: block;
    padding: 0 0 0.1rem 0;
  }
  .homeContainer .homeWrapper .projectLogo img {
    height: 150px;
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

/* carbon ads */

.centeredAd {
  display: flex;
  justify-content: center;
}

.centeredAd:has(#carbonads) {
  margin-bottom: 5em;
}

#carbonads * {
  margin: initial;
  padding: initial;
  line-height: initial;
}
   
#carbonads {
  --carbon-font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  --carbon-font-size: 14px;
  --carbon-padding: 1.5ch;
  --carbon-max-char: 20ch;
  --carbon-bg-primary: hsl(0, 0%, 12%);
  --carbon-bg-secondary: hsl(0, 0%, 15%);
  --carbon-text-color: hsl(0, 0%, 90%);
  z-index: 10;
  font-size: var(--carbon-font-size);
  font-family: var(--carbon-font-family);
}

#carbonads > span {
  display: flex;
  flex-direction: column;
  min-inline-size: 130px;
  max-inline-size: calc(
    130px + var(--carbon-max-char) + 8ch
  );
  padding: var(--carbon-padding);
  gap: var(--carbon-padding);
  background-color: var(--carbon-bg-primary);
  box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.085),
    0 0 2px hsl(0deg 0% 0% / 0.085),
    0 0 4px hsl(0deg 0% 0% / 0.085),
    0 0 8px hsl(0deg 0% 0% / 0.085);
}

#carbonads a {
  color: var(--carbon-text-color);
  text-decoration: none;
}

#carbonads a:hover {
  color: var(--carbon-text-color);
}

#carbonads .carbon-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5ex;
}

#carbonads .carbon-img {
  flex: 0 0 130px;
}

#carbonads .carbon-img img {
  display: block;
}

#carbonads .carbon-text {
  flex-grow: 1;
  flex-basis: var(--carbon-max-char);
  line-height: 1.4;
  text-align: left;
}

#carbonads .carbon-poweredby {
  padding: 6px 8px;
  background: var(--carbon-bg-secondary);
  color: var(--carbon-text-color);
  font-weight: 600;
  font-size: 0.6em;
  line-height: 1.4;
  letter-spacing: 0.2ch;
  text-align: center;
  text-transform: uppercase;
}
