/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 3rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.projectLogo {
  text-align: center;
  max-width: 500px;
  margin: 1em auto 0;
}

.financialDonors {
  --fin-donors-height: 50px;
  height: var(--fin-donors-height);
  margin-top: 5em;
  font-size: 0.6rem;
}

.financialDonors > * {
  display: inline-flex;
  vertical-align: middle;
  margin: 0;
  font-size: 1em;
}

.financialDonors > * + * {
  margin-left: 1em;
}

.financialDonors > h3 {
  width: 0;
  height: var(--fin-donors-height);
  font-weight: normal;
  line-height: 1.1;
  position: relative;
  align-items: center;
}

.financialDonors .financialDonorsButton {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 15ch;
  text-align: right;
}

.backerLogo, .backerNoLogo {
  height: 50px;
  width: 50px;
  display: inline-flex;
}

.backerLogo {
  border-radius: 9999px;
}

.backerNoLogo {
  line-height: 1.1;
  align-items: center;
  font-size: 1.1em;
  color: var(--ifm-color-primary-light);
  border: 1px solid currentColor;
  border-radius: 9999px;
}

.donateButton {
  justify-self: flex-end;
}

.homeContent {
  max-width: 890px;
  padding: 2ch;
  margin: 0px auto;
}

.homeContent h2 {
  margin-top: 1.3em;
  margin-bottom: 0.5em;
  font-size: 1.4rem;
}

.homeContent p {
  font-size: 1.2rem;
}

h2.tagLine {
  margin: 0;
}

.explanatoryText {
  margin-top: 3em;
  text-align: left;
}

@media only screen and (min-width: 800px) {
  .explanatoryText {
    display: flex;
  }

  .explanatoryText > * {
    flex: 1 0;
  }

  .explanatoryText > p + p {
    border-left: 1px solid gray;
    margin-left: 2ex;
    padding-left: 2ex;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.logos > * {
  aspect-ratio: 1 / 1;
  width: calc(20% - 2ex);
  display: flex;
  margin-right: 2ex;
}
